.save-btn {
  background: #4caf50 !important;
  color: white;
  padding: 10px 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
}

.edit-btn {
  background: #2c2c2c !important;
  color: white;
  padding: 10px 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
}

.noneditable-field {
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 17px;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.editable-input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 17px;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.each-tab-content {
  width: 100%;
}

.userName-text {
  font-size: 24px;
}
