.card {
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 850px;
    display: flex;
    flex-direction: column;
}

.card p {
    color: #303030;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

.title {
    color: #000;
    text-align: center;
    font-size: 2.4375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.group {
    position: relative;
}

.form .group label {
    font-size: 14px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
}

.form .group input,
.form .group textarea {
    color: #000;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
}

.form .group input:placeholder-shown+label,
.form .group textarea:placeholder-shown+label {
    top: 10px;
    background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
    border-color: #000;
}

.form .group input:focus+label,
.form .group textarea:focus+label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.form .group textarea {
    resize: none;
    height: 100px;
}

.form button {
    background-color: #332c05;
    color: #ecebe4;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form button:hover {
    background-color: #9c900e;
}